<h1> <%= @genre.name %> Novels</h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Genre', edit_genre_path(@genre), class: "btn btn-primary"%>
  <%= link_to 'Delete Genre', @genre, :method => :delete, class: "btn btn-primary"%>
<% end %>

<p> <%= @genre.description %> </p>

<ol>
  <% @genre.books.each do |b| %>
    <li> <%= link_to b.title, book_path(b) %> </li>
  <% end %>
</ol>
