<% if @reading_list.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reading_list.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ol>
      <% @reading_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= form_for ([current_user, @reading_list]) do |f| %>
  <%= f.label :name %>:<br>
  <%= f.text_field :name %> <br></br>

  <%= f.hidden_field :user_id, value: current_user.id%>

  <%= f.collection_check_boxes :book_ids, Book.all, :id, :title %><br></br>

  <%= f.submit%>
<% end %>

<br></br>
