<h1> <%= @author.name%></h1>
<%= link_to 'Edit Author', edit_author_path(@author), class: "btn btn-primary"%>
<%= link_to 'Add Books', new_author_book_path(@author), class: "btn btn-primary"%>


<h3> Books by <%= @author.name%></h3>

<ol>
  <% @author.books.each do |b| %>
    <li><%= link_to b.title, book_path(b) %> | <%=b.publication_year%></li>
  <% end %>
</ol>

<h4>Affiliated Genres: <% @author.genres.uniq.each do |g| %>
                          <%= link_to g.name, genre_path(g) %>
                        <% end %>
</h4>
