<h1 class="authorName"> <%= @author.name%></h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Author', edit_author_path(@author), class: "btn btn-primary"%>
  <%= link_to 'Delete Author', @author, :method => :delete, class: "btn btn-primary"%>
  <%= link_to 'Add Books', new_author_book_path(@author), class: "btn btn-primary"%>
<% end %>

<h3> Published Books </h3>
<ol>
  <div class="books">
  <% @author.books.each do |b| %>
    <li><%= link_to b.title, book_path(b) %> | <%=b.publication_year%></li>
  <% end %>
  </div>
</ol>
<h4>Affiliated Genres</h4>
<div class="affiliatedGenres">
  <% @author.genres.uniq.each do |g| %>
    <%= link_to g.name, genre_path(g) %> |
  <% end %> <br></br>
</div>
<a href="#" class="js-previous" data-id="<%=@author.id%>">Previous Author</a>
| <a href="#" class="js-next" data-id="<%=@author.id%>">Next Author</a> <br></br>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/authors/" + nextId + ".json", function(data) {
      $(".authorName").text(data["name"]);

      var books = data["books"]
      var bookList = ""
      books.forEach(function(book){
        bookList += "<li>" + `<a href="/books/${book.id}">` + book.title+ `</a>` + " | " + book.publication_year + "</li>"
      })
      $(".books").html(bookList);

      var genres = data["genres"]
      var uniq = new Set(genres.map(e => JSON.stringify(e)));
      var uniqGenres = Array.from(uniq).map(e => JSON.parse(e));
      var genreList = ""
      uniqGenres.forEach(function(genre){
        genreList += `<a href="/genres/${genre.id}">` + genre.name+ `</a>` + " | "
      })
      genreList += "<br></br>"
      $(".affiliatedGenres").html(genreList);

      // reset the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
      $(".js-previous").attr("data-id", data["id"]);

    });
  });
});

$(function () {
  $(".js-previous").on("click", function(e) {
    e.preventDefault();
    var lastId = parseInt($(".js-next").attr("data-id")) - 1;
    $.get("/authors/" + lastId + ".json", function(data) {
      $(".authorName").text(data["name"]);

      var books = data["books"]
      var bookList = ""
      books.forEach(function(book){
        var test = JSON.stringify(book)
        bookList += "<li>" + `<a href="/books/${book.id}">` + book.title+ `</a>` + " | " + book.publication_year + "</li>"
      })
      $(".books").html(bookList);

      var genres = data["genres"]
      var uniq = new Set(genres.map(e => JSON.stringify(e)));
      var uniqGenres = Array.from(uniq).map(e => JSON.parse(e));
      var genreList = ""
      uniqGenres.forEach(function(genre){
        genreList += `<a href="/genres/${genre.id}">` + genre.name+ `</a>` + " | "
      })
      genreList += "<br></br>"
      $(".affiliatedGenres").html(genreList);

      // reset the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
      $(".js-previous").attr("data-id", data["id"]);
    });
  });
});
</script>
