<h1><%= @user.email %></h1>

<h2>Profile</h2>
<p>Joined on: <%=@user.joined%></p>

<h3> <%=@user.email %>'s <%= link_to 'Reading Lists', user_reading_lists_path(@user)%> </h3>
<ol>
  <% @user.reading_lists.each do |list| %>
    <li><%= link_to list.name, reading_list_path(list) %> </li>
  <% end %>
</ol>
