<h1 class="bookTitle" data-bookId="<%=@book.id%>"> <%= @book.title %>
  <% if Book.top.first == @book %>
    - Most Popular Book
  <% end %>
</h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-primary"%>
  <%= link_to 'Delete Book', @book, :method => :delete, class: "btn btn-primary"%>
<% end %>

<h2> by <%=link_to @book.author.name, author_path(@book.author) %> | Published <%=@book.publication_year%></h2>
<h3>Affiliated Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h3>
<h3>Summary:</h3>
<%= @book.blurb %>

<h3>Reviews</h3>
<%=link_to 'Add a Review', new_book_review_path(@book), class:"addreview"%><br></br>
<div id="reviews">
  <% @reviews.each do |r| %>
    <% if r.user == current_user %>
      <%= link_to 'Edit Review', edit_book_review_path(@book,r)%> |
      <%= link_to 'Destroy Review', [@book, r], :method => :delete %>
    <% end %>
    <strong><%=r.user.email %></strong> said
    <span id="content-<%=r.id%>">
      <%= truncate(r.content) %>
      <a href="#" class="js-more" data-id="<%= r.id %>">Show More</a><br></br>
    </span>
    <hr>
  <% end %>
</div>

<a href="#" class="load-reviews">Load All Reviews</a>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".load-reviews").on("click", function(e) {
      e.preventDefault();
      var bookId = parseInt($(".bookTitle").attr("data-bookId"));
      $.get("/books/" + bookId + "reviews" + ".json", function(data) {
        debugger
        var reviews = data.reviews;
        var allReviews = ""
        reviews.forEach(function(review){
          debugger
          allReviews += review.id + " said " + review.content + "<hr>"
        })
        $("#reviews").html(allReviews);
      })
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function(e) {
    e.preventDefault();
    var bookId = parseInt($(".bookTitle").attr("data-bookId"));
    var reviewId = parseInt($(this).attr("data-id"))
    $.get("/books/" + bookId + ".json", function(data) {
      var reviews = data.reviews;
      var reviewContent = ""
      reviews.forEach(function(review){
        if (review.id === reviewId){
          reviewContent += review.content
        }
      })
      $("#content-" + reviewId).html(reviewContent);
    });
  });
});
</script>

<p> <%=@book.title %> is currently on <%= pluralize(@book.list_count, "reading list") %></p>
