<h1 class="bookTitle" data-bookId="<%=@book.id%>"> <%= @book.title %>
  <% if Book.top.first == @book %>
    - Most Popular Book
  <% end %>
</h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-primary"%>
  <%= link_to 'Delete Book', @book, :method => :delete, class: "btn btn-primary"%>
<% end %>

<h2> by <%=link_to @book.author.name, author_path(@book.author) %> | Published <%=@book.publication_year%></h2>
<h3>Affiliated Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h3>
<h3>Summary:</h3>
<%= @book.blurb %>

<h3>Reviews</h3>

<div id="reviews">
  <% @reviews.each do |r| %>
    <% if r.user == current_user %>
      <%= link_to 'Edit Review', edit_book_review_path(@book,r)%> |
      <%= link_to 'Destroy Review', [@book, r], :method => :delete %> |
    <% end %>
    <span id="content-<%=r.id%>">
      <strong><%=r.user.email %></strong> said <%= truncate(r.content) %>
      <a href="#" class="js-more" data-id="<%= r.id %>">Show More</a><br></br>
      <hr>
    </span>
  <% end %>
</div>

<div id="newreview" style="display:none">
  <%= render partial: "reviews/form"%>
</div>

<a href="#" class="load-reviews">Load All Reviews</a> |
<%=link_to 'Add a Review', new_book_review_path(@book), class:"add-review"%><br></br>

<p> <%=@book.title %> is currently on <%= pluralize(@book.list_count, "reading list") %></p>
