<h1> <%= @book.title %>
  <% if Book.top.first == @book %>
    - Most Popular Book
  <% end %>
</h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-primary"%>
  <%= link_to 'Delete Book', @book, :method => :delete, class: "btn btn-primary"%>
<% end %>

<h3> by <%=link_to @book.author.name, author_path(@book.author) %> | Published <%=@book.publication_year%></h3>

<h4>Summary:</h4>
<%= @book.blurb %>

<h4>Reviews | <%=link_to 'Add a Review', new_book_review_path(@book)%></h4>
<% @book.reviews.each do |r| %>
  <strong><%=r.user.email %></strong> said <%= r.content %><br></br>
<% end %>

<h4>Affiliated Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h4>

<p> <%=@book.title %> is currently on <%= pluralize(@book.list_count, "reading list") %></p>
