<h1> <%= @book.title %></h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-primary"%>
  <%= link_to 'Delete Book', @book, :method => :delete, class: "btn btn-primary"%>
<% end %>

<h3> by <%=link_to @book.author.name, author_path(@book.author) %> | Published <%=@book.publication_year%></h3>
<h4>Summary:</h4>
<%= @book.blurb %>

<h4>Affiliated Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h4>
