<h1 class="bookTitle" data-bookId="<%=@book.id%>"> <%= @book.title %>
  <% if Book.top.first == @book %>
    - Most Popular Book
  <% end %>
</h1>

<% if current_user.admin? %>
  <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-primary"%>
  <%= link_to 'Delete Book', @book, :method => :delete, class: "btn btn-primary"%>
<% end %>

<h2> by <%=link_to @book.author.name, author_path(@book.author) %> | Published <%=@book.publication_year%></h2>
<h3>Affiliated Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h3>
<h3>Summary:</h3>
<%= @book.blurb %>

<h3>Reviews</h3>

<div id="reviews">
  <% @reviews.each do |r| %>
    <% if r.user == current_user %>
      <%= link_to 'Edit Review', edit_book_review_path(@book,r)%> |
      <%= link_to 'Destroy Review', [@book, r], :method => :delete %> |
    <% end %>
    <span id="content-<%=r.id%>">
      <strong><%=r.user.email %></strong> said <%= truncate(r.content) %>
      <a href="#" class="js-more" data-id="<%= r.id %>">Show More</a><br></br>
      <hr>
    </span>
  <% end %>
</div>

<div id="newreview" style="display:none">
  <%= render partial: "reviews/form"%>
</div>

<script type="text/javascript" charset="utf-8">
class Review {
  constructor(review){
    this.id = review.id
    this.content = review.content
    this.user = review.user.email
  }
}
Review.prototype.renderReviewContent = function(){
  return `<strong> ${this.user} </strong> said ${this.content} <hr>`
}

$(function() {
  $(".js-more").on("click", function(e) {
    e.preventDefault();
    var bookId = parseInt($(".bookTitle").attr("data-bookId"));
    var reviewId = parseInt($(this).attr("data-id"))
    $.get("/books/" + bookId + ".json", function(data) {
      var reviews = data.reviews;
      reviews.forEach(function(review){
        if (review.id === reviewId){
          currentReview = new Review(review)
        }
      })
      $("#content-" + reviewId).html(currentReview.renderReviewContent());
    });
  });
});

$(function() {
  $(".load-reviews").on("click", function(e) {
    e.preventDefault();
    var bookId = parseInt($(".bookTitle").attr("data-bookId"));
    $.get("/books/" + bookId + "/reviews" + ".json", function(data) {
      var reviews = data
      var allReviews = ""
      reviews.forEach(function(review){
        currentReview = new Review(review)
        allReviews += currentReview.renderReviewContent()
      })
      $("#reviews").html(allReviews);
    })
  });
});

  $(function() {
    $(".add-review").on("click", function(e) {
      e.preventDefault();
      var x = document.getElementById("newreview")
      x.style.display = "block"
    });
  });

  $(function(){
    $('#review_form').on("submit", function(e){
      e.preventDefault();
      url = this.action
      $.post(url,$(this).serialize())
      .done(function(response){
        // formatting is off - WIP
        $("#reviews").append(response).append("<hr>")
        var x = document.getElementById("newreview")
        $("#review_content").val("")
        x.style.display = "none"
        $('input[type="submit"]').prop('disabled', false);
      })
    })
  })
</script>

<a href="#" class="load-reviews">Load All Reviews</a> |
<%=link_to 'Add a Review', new_book_review_path(@book), class:"add-review"%><br></br>

<p> <%=@book.title %> is currently on <%= pluralize(@book.list_count, "reading list") %></p>
